:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: #ffffff;
}

a:hover {
  color: #535bf2;
}

body {
  background: linear-gradient(
    180deg,
    rgba(22, 28, 39, 0.4) 0%,
    rgba(22, 28, 39, 0.1) 100%
  );
  backdrop-filter: blur(10);
}

section {
  max-width: 900px;
  margin: 0 auto;
}

section h1 {
  font-size: 46px;
  text-align: center;
}

section p {
  font-size: 26px;
  text-align: center;
}

/* hamburger */

.background {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(-30%, 20%);
  background-image: radial-gradient(#4e5d78, #000000);
  opacity: 0.97;
  z-index: 1000;
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}

.nav-toggle {
  display: block;
}

@media screen and (min-width: 768px) {
  .nav-toggle {
    display: none;
  }
}

.nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 20%;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.5s;
}

.list {
  list-style: none;
  width: 100%;
  margin-top: 50px;
}

.item {
  font-size: 24px;
}

.link {
  transition: 0.2s;
  &:link,
  &:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(
      120deg,
      transparent 0%,
      transparent 50%,
      white 50%
    );
    background-size: 220%;
    transition: all 0.4s;
  }

  &:hover,
  &:active {
    color: #535bf2;
    cursor: pointer;
  }
}

/* functionality */
.checkbox:checked ~ .background {
  transform: scale(125);
}

.checkbox:checked ~ .nav {
  opacity: 1;
  width: 100%;
  right: 0;
}

/*  */
/* styling hamb ICON */
.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &,
  &::before,
  &::after {
    width: 1.5rem;
    height: 2px;
    background-color: gray;
    display: inline-block;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
  }

  &::before {
    top: -0.5rem;
  }

  &::after {
    top: 0.5rem;
  }
}

.button {
  position: relative;
  background-color: white;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(-30%, 20%);
  z-index: 2000;
  box-shadow: 0 10px 24px -10px black;
  text-align: center;
  cursor: pointer;
}
.button:hover icon:before {
  top: -1rem;
}

.button:hover icon::after {
  top: 1rem;
}

.checkbox {
  display: none;
}

.checkbox:checked + .button .icon {
  background-color: transparent;
}

.checkbox:checked + .button .icon::before {
  top: 0;
  transform: rotate(135deg);
}

.checkbox:checked + .button .icon::after {
  top: 0;
  transform: rotate(-135deg);
}
